footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    margin-top: 120px;
}
.footerimg{
    margin-bottom: 20px;
}
.bl{
   display: flex;
   flex-direction: column;

}
.contact{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
    
}
.svgtext{
    margin-left: 7px;

    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.punct{
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
a{ 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.footerinput{
    width: 296px;
    height: 56px;

    background: #FFFFFF;
    border: 1px solid rgba(179, 179, 179, 0.21);
    border-radius: 8px;

    margin-top: 10px;
    margin-bottom: 25px;
}
.footer_button{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    
    width: 162px;
    height: 53px;
    
    border: 0;
    background: #FD695A;
    border-radius: 8px;

    font-weight: 700;

    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}