.body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 0 auto;
}
body{
    background: linear-gradient(65.25deg, rgba(212, 209, 209, 0.49) -1.59%, rgba(255, 255, 255, 0.46) 99.42%);
}