.selection_three{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.card h2{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #37383D;
}
.card p{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 26px;
    color: #747474;
}
.card a{
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
}
.right_block_hover{
    display: grid;
    grid-template-areas:
     'A B'
     'C D';
     gap: 2.3vmin;
}
.card{
    width: 270px;
    height: 270px;
    
    
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(44, 22, 84, 0.01);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top:  10%; 
   
}

.green_pol{
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
    .card:hover .green_pol{
    background-color:  #34D27B;
    transition: 1s;
    }
     

.red_pol{
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    .card:hover .red_pol{
       background-color:#FD695A;     
      
       transition: 1s;
    }
    

.perple_pol{
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    .card:hover .perple_pol{
        background: #7879F1;     
        transition: 1s;
    }


.blu_pol{
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    .card:hover .blu_pol{
        background: #53C8FF; 
        transition: 1s;
    }





.one_p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FD695A;
    margin-bottom: 10px;
}
.p_text_two{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #3D3D3F;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
     margin-bottom: 35px;
}
.three_p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #515151;
}
.selection_three button{
    width: 203px;
    height: 50px;
    background: #FD695A;
    border-radius: 50px;
    border: 0;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

    margin-top: 28px;
}
.selection_three button:hover{
    background: #da6154;
}